# Ignore virtual environment
venv310/

# Ignore dataset contents tapi tetap foldernya
data/*

# Tetap simpan file .gitkeep biar folder kosong ikut
!data/**/.gitkeep

# Ignore Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store
Thumbs.db
